# This file should be renamed into .env and populated
# with real values
# of course, this file should never bo commited to
# avoid password exposure
REDMINE_DATABASE_PASSWORD=changeme
REDMINE_FILES_DATA_DIRECTORY=/tmp/redmine/files
REDMINE_DATABASE_DATA_DIRECTORY=/tmp/redmine/db